.dialogues {
    display: grid;
    grid-template-columns: 3fr 8fr;
}
.dialoguesItems {
    padding: 20px;
}
.userDialogue, .activeDialogue {
    text-decoration: none;
    color: black;
}
.activeDialogue {
    color: var(--accent-color);
}
.messages {
    padding: 10px;
    margin-bottom: 10px;
}
.dialogue {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.dialogue img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messagesItems {
    display: flex;
    flex-direction: column;
}
.message {
    width: fit-content;
    margin-bottom: 10px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
