.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.messagesItems {
    padding: 10px;
}
.message {

}
.message.active {
    color: var(--accent-color);
}
.dialogues {
    padding: 10px;
}
.dialogue {

}