.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialoguesItems {
    padding: 10px;
}
.dialogue a {
    text-decoration: none;
    color: black;
}
.dialogue.active {
    color: var(--accent-color);
}
.messages {
    padding: 10px;
}
.dialogue img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
