.nav {
    padding: 20px;
    grid-area: n; 
    background-image: linear-gradient(180deg, var(--accent-color), var(--main-color));
}
.nav ul {
    list-style-type: none;
}
.item {
    margin-bottom: 5px;
}
.item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.item a.activeLink {
    color: gold;
}